<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#007bff" />
    <title>Gestor Financeiro - Criar Conta</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <link rel="icon" href="{{ url_for('static', filename='icons/icon-192x192.png') }}" type="image/png">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='icons/icon-512x512.png') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

<!-- Conteúdo Principal -->
<main>
    <div class="cartao">
    <h2>Criar Conta</h2>
    <form action="/criar_conta" method="POST">
        <input type="text" name="nome" placeholder="Nome" required>
        <input type="email" name="email" placeholder="Email" required>
        <button type="submit" class="btn">Registar</button>
    </form>
      <br>
    <a href="/login" class="btn-limpar">Voltar</a>
    </div>
</main>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
  <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
